@mixin btn-style {
    height: 46px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(180deg, #4BE1FE, #23B2CD);
    box-shadow: 0 1px 1px 1px #1B98B0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

@mixin label-style {
    height: 25px;
    width: 114px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 auto;
}

@mixin title-style {
    font-size: 38px;
    color: #000;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    @media (max-width: 992px) {
        font-size: 30px;
    }
    @media (max-width: 768px) {
        font-size: 27px;
    }
    @media (max-width: 576px) {
        font-size: 14px;
    }
}

@mixin descr-style {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    @media (max-width: 576px) {
        font-size: 14px;
        margin-top: 0;
    }
}